@font-face {
    font-family:'Roboto Slab', serif;
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
}

html{
    font-size: 62.5%;
    font-family:'Roboto Slab', sans-serif;
}

body{
    background-color: tomato;
}